<div class="nav-links-horizontal">
    <NavLink class="nav-item-premium" href="fridge" Match="NavLinkMatch.All">
        <i class="fas fa-box-open"></i>
        <span>Холодильник</span>
    </NavLink>
    <NavLink class="nav-item-premium" href="recipes">
        <i class="fas fa-book-open"></i>
        <span>Рецепты</span>
    </NavLink>
    <NavLink class="nav-item-premium" href="meal-plan">
        <i class="fas fa-magic text-sm"></i>
        <span>План питания</span>
    </NavLink>

    <NavLink class="nav-item-premium" href="shopping-list">
        <i class="fas fa-shopping-cart"></i>
        <span>Покупки</span>
    </NavLink>
    <NavLink class="nav-item-premium" href="profile">
        <i class="fas fa-user-circle"></i>
        <span>Профиль</span>
    </NavLink>
</div>